<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ewu.moonx">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/glasslogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/glasslogo"
        android:supportsRtl="false"
        android:theme="@style/Theme.MoonX">
        <activity android:name=".LinksActivity">

        </activity>
        <!-- Activity -->
        <activity android:name=".UI.FollowUpPkj.ChatPkj.SendImagesActivity" />
        <activity android:name=".UI.RequestPkj.RequestMgrActivity" />
        <activity android:name=".UI.LoginPkj.Login_setUserImgActivity" />
        <activity android:name=".UI.UserPkj.UserActivity" />
        <activity android:name=".UI.FollowUpPkj.FollowUpActivity" />
        <activity android:name=".UI.LoginPkj.Login_DoneActivity" />
        <activity android:name=".UI.LoginPkj.Login_VerifyActivity" />
        <activity android:name=".UI.LoginPkj.LoginActivity" />
        <activity android:name=".UI.MainPkj.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.MainPkj.WelcomeActivity" />
        <activity android:name=".UI.MainPkj.MainActivity">

        </activity>
        <activity android:name=".UI.UserPkj.UserInfoActivity" />
        <activity android:name=".UI.FollowUpPkj.ChatPkj.ChatActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".TrainActvity">

        </activity> <!-- Service -->
        <service android:name=".UI.FollowUpPkj.ChatPkj.PublicChatPkj.ServicesPkj.PublicService.PublicChatService" />
        <service android:name=".UI.FollowUpPkj.ChatPkj.PublicChatPkj.ServicesPkj.UserService.UserChatService" />
    </application>

</manifest>